<?xml version="1.0" encoding="UTF-8"?>

<web-app
	xmlns="http://java.sun.com/xml/ns/javee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

	<!-- META INFO ================================================================================================= -->
	
	<display-name>Kevin Black's CS 462 Driver Guild Webapp</display-name>


	<!-- CONTEXT-PARAMS ============================================================================================ -->
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/*.xml</param-value>
	</context-param>

	
	<!-- LISTENERS ================================================================================================= -->
	
	<listener>
		<!-- Requires context-param contextConfigLocation -->
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>


	<!-- SERVLETS ================================================================================================== -->
	<!-- By default Spring uses /WEB-INF/${servlet-name}-servlet.xml as the servlet context. Can override with an
	init-param entity -->
		
	<servlet>
		<servlet-name>guild-spring-context</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    	<load-on-startup>2</load-on-startup>
	</servlet>

	
	<!-- SERVLET-MAPPINGS ========================================================================================== -->

	<servlet-mapping>
		<servlet-name>guild-spring-context</servlet-name>
		<url-pattern>/dynamic/*</url-pattern>
	</servlet-mapping>
	
	
	<!-- FILTERS =================================================================================================== -->
	
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>
			org.springframework.web.filter.DelegatingFilterProxy
			<!-- delegates to the spring bean with name of ${filter-name} -->
		</filter-class>
	</filter>
	
	
	<!-- FILTER-MAPPINGS =========================================================================================== -->
	<!-- Note: spring security filter mapping is generally first since anything before it would not be secured. -->

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>