<?xml version="1.0" encoding="UTF-8"?>

<web-app
	xmlns="http://java.sun.com/xml/ns/javeee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	
	<!-- =========================================================================================================== -->
	<!-- META INFO -->
	
	<display-name>Kevin Black's CS 462 Webapp</display-name>

	<!-- =========================================================================================================== -->
	<!-- CONTEXT-PARAMS -->
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/*.xml</param-value>
	</context-param>
	
	<!-- =========================================================================================================== -->
	<!-- LISTENERS -->
	
	<listener>
		<!-- Requires context-param contextConfigLocation -->
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<!-- =========================================================================================================== -->
	<!-- SERVLETS -->
	<!-- By default Spring uses /WEB-INF/${servlet-name}-servlet.xml as the servlet context. Can override with an
	init-param entity -->

	<servlet>
		<servlet-name>sandbox</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    	<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>ffds</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    	<load-on-startup>2</load-on-startup>
	</servlet>
	
	<!-- =========================================================================================================== -->
	<!-- SERVLET-MAPPINGS -->
	
	<servlet-mapping>
		<servlet-name>sandbox</servlet-name>
		<url-pattern>/sandbox/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ffds</servlet-name>
		<url-pattern>/ffds/*</url-pattern>
	</servlet-mapping>
	
</web-app>
